#  Atlys
Net fpga_0_RS232_Uart_1_RX_pin LOC=A16  |  IOSTANDARD=LVCMOS33;
Net fpga_0_RS232_Uart_1_TX_pin LOC=B16  |  IOSTANDARD=LVCMOS33;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<0> LOC=F5  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<1> LOC=F6  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<2> LOC=P3  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<3> LOC=P4  |  IOSTANDARD=LVCMOS18;
Net fpga_0_Push_Buttons_5Bits_GPIO_IO_I_pin<4> LOC=N4  |  IOSTANDARD=LVCMOS18;
Net fpga_0_MCB_DDR2_rzq_pin IOSTANDARD = LVCMOS18_JEDEC;
Net fpga_0_MCB_DDR2_zio_pin IOSTANDARD = LVCMOS18_JEDEC;
Net fpga_0_clk_1_sys_clk_pin TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
Net fpga_0_clk_1_sys_clk_pin LOC=L15  |  IOSTANDARD=LVCMOS33;
Net fpga_0_rst_1_sys_rst_pin TIG;
Net fpga_0_rst_1_sys_rst_pin LOC=T15  |  IOSTANDARD=LVCMOS33;

CONFIG VCCAUX = 3.3;

#HDMI Out Ports
NET "hdmi_out_0_TMDS_pin(0)"  	LOC = "D8" | IOSTANDARD = TMDS_33 ; # Blue
NET "hdmi_out_0_TMDSB_pin(0)"  LOC = "C8" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(2)"  	LOC = "B8" | IOSTANDARD = TMDS_33 ; # Red
NET "hdmi_out_0_TMDSB_pin(2)"  LOC = "A8" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(1)"  	LOC = "C7" | IOSTANDARD = TMDS_33 ; # Green
NET "hdmi_out_0_TMDSB_pin(1)"  LOC = "A7" | IOSTANDARD = TMDS_33 ;
NET "hdmi_out_0_TMDS_pin(3)"  	LOC = "B6" | IOSTANDARD = TMDS_33 ; # Clock
NET "hdmi_out_0_TMDSB_pin(3)"  LOC = "A6" | IOSTANDARD = TMDS_33 ;

#HDMI in Ports
NET "hdmi_in_0_TMDS_pin(3)"  	LOC = "H17" |IOSTANDARD = TMDS_33 ; # CLK
NET "hdmi_in_0_TMDSB_pin(3)"  LOC = "H18" |IOSTANDARD = TMDS_33 ;
NET "hdmi_in_0_TMDS_pin(2)"  	LOC = "J16" |IOSTANDARD = TMDS_33 ; # Red
NET "hdmi_in_0_TMDSB_pin(2)"  LOC = "J18" |IOSTANDARD = TMDS_33 ;
NET "hdmi_in_0_TMDS_pin(1)"  	LOC = "L17" |IOSTANDARD = TMDS_33 ; # Green	
NET "hdmi_in_0_TMDSB_pin(1)"  LOC = "L18" |IOSTANDARD = TMDS_33 ;
NET "hdmi_in_0_TMDS_pin(0)"  	LOC = "K17" |IOSTANDARD = TMDS_33 ; # Blue	
NET "hdmi_in_0_TMDSB_pin(0)"  LOC = "K18" |IOSTANDARD = TMDS_33 ;

NET "xps_iic_0_Scl"  LOC = "M16";
NET "xps_iic_0_Sda"  LOC = "M18";

#
# Multi-cycle paths for TX0
#
TIMEGRP "bramgrp_0" = RAMS(hdmi_out_0/hdmi_out_0/USER_LOGIC_I/hdmi_out_inst/Inst_dvi_out_native/enc0/pixel2x/dataint<*>);
TIMEGRP "fddbgrp_0" = FFS(hdmi_out_0/hdmi_out_0/USER_LOGIC_I/hdmi_out_inst/Inst_dvi_out_native/enc0/pixel2x/db<*>);
TIMEGRP "bramra_0"  = FFS(hdmi_out_0/hdmi_out_0/USER_LOGIC_I/hdmi_out_inst/Inst_dvi_out_native/enc0/pixel2x/ra<*>);

TIMESPEC "TS_ramdo_0" = FROM "bramgrp_0" TO "fddbgrp_0" TS_pll_module_0_pll_module_0_CLKOUT1_BUF;
TIMESPEC "TS_ramra_0" = FROM "bramra_0"  TO "fddbgrp_0" TS_pll_module_0_pll_module_0_CLKOUT1_BUF;